<!DOCTYPE HTML>
<html>
<head>
	<title>Voxus task</title>
	<style>
	</style>
</head>
<body>
	<div style="margin-top: 10vh;">
		{% if user and not user.is_anonymous %}
			<div style="text-align: center;">
				<h1>
					Welcome {{ user.get_full_name|default:user.username }}
				</h1>
				<a href="{% url 'auth:logout' %}?next=/social_networks">
					Log out
				</a>
				<p>
					Create Task
				<p/>
				<form method="POST" action="" enctype="multipart/form-data">
		      {{template_create_task_form.as_p}}
					{{template_create_upload_form.as_p}}
		      <input type="submit" name="create_task" value="Create">{%csrf_token%}
		    </form>
			</div>
			{% for t in tasks %}
	    <div>
	        <form method="POST" action="/">
						<input type="hidden" name="id" value={{ t.id }}><br>
	          Title: <input type="text" name="title" value={{ t.title }}><br>
	          Description: <input type="text" name="description" value={{ t.description }}><br>
	          Owner: <input type="text" name="owner" value={{ t.owner }}><br>
	          State: <input type="boolean" name="state" value={{ t.state }}><br>
						Priority: <input type="int" name="priority" value={{ t.priority }}><br>
						{% if t.state == 1%}
						Owner: <input type="text" name="owner" value={{ t.updated_by }}><br>
						{% endif %}
	          <input type="submit" name="delete_task" value="Delete">{%csrf_token%}
	          <input type="submit" name="state_task" value="Done">{%csrf_token%}
	        </form>
					{% for u in t.getUploads%}
							Attachment #{{ forloop.counter }}:
								<a href="file://localhost{{ uploadPath }}/{{ u.attached.name }}">{{ u.attached.name }}</a>
							<br/>
					{% endfor %}
	    </div>
	    {% endfor %}
		{% else %}
			<form action="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
    		<input type="submit" value="Log In/Sign In">{%csrf_token%}
			</form>
		{% endif %}
	</div>
</body>
</html>
